// Colors
$white : hsl(0, 0%, 100%);
$darkBlue: hsl(218, 44%, 22%);
$graysinBlue: hsl(220, 15%, 55%);
$background: hsl(212, 45%, 89%);

// Typography
$fontSize: 15px;
$fontText: 'Outfit', sans-serif;

// Widths
$widthMobile: 375px;
$widthDesktop: 1440px;